@model CategoryVM

@{
    ViewData["Title"] = "UpdateCategory";
}


<div class="card card-header">
    <div class="card card-body">
        <form asp-action="UpdateCategory" method="post">

            <input type="hidden" asp-for="Category.ID" />
            <div>
                <input asp-for="Category.CategoryName" type="text" placeholder="Kategori Adı giriniz" />
            </div>

            <br />
            <br />

            <div>
                <input type="text" asp-for="Category.Description" placeholder="Acıklama giriniz" />

            </div>

            <br /> <br />

            <button class="btn btn-primary"> Güncelle</button>
        </form>
    </div>
</div>


